<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>new-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="new_list_form" (submit)="createList(new_list_form.value)">
    <ion-item>
      <ion-label color="primary" position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!new_list_form.valid">Create</ion-button>
  </form>

</ion-content>
