<ion-header>
  <ion-toolbar>
    <ion-title>{{ current_list.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ current_list.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let item of itemService.items">
      <ion-checkbox slot="start" [(ngModel)]="item.isChecked" (ionChange)="updateItems(current_list.name)"></ion-checkbox>
      <ion-label>
        {{ item.name }}
      </ion-label>
      <ion-button (click)="removeItem(current_list.name, item)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openNewItemPage()">
        <ion-icon size="large" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>>
